@charset "utf-8";
/* CSS Document */

.inside-content{  margin-bottom:25px;font-family:Open Sans; font-size:14px; padding-top:30px }

.login-panel{ margin-top:20px}

.login-head{background-image:url(../images/subnav-bg.jpg); padding:13px}

.login-note{height:240px;font-size:15px; padding:20px; margin-right:0px; padding-top:80px}

.login-note-bottom{padding:15px; margin-top:-20px; background-color:#B5B872; border-radius:0px 0px  010px 10px; color:#FFFFFF; font-weight:bold}

.register-note{height:auto;font-size:15px; padding:20px; margin-right:0px; padding-top:80px}

.register-head{background-image:url(../images/subnav-bg.jpg); padding:13px}

.mand{color:#FF0000; font-size:11px; padding-left:3px}

.editprof-pannel{border:1px solid #ccc; height:auto; }

.editprof-left{border-right:1px solid #ccc; padding:10px}

.editprof-left li{ display:block; border-bottom:1px solid #ccc; padding:10px;  width:100%;}

.editprof-left li a{color:#999999; text-decoration:none;}
.editprof-left li a:visited:active{color:#999999; text-decoration:none;}
.editprof-left li a:hover{color:#FF0000; text-decoration:none;}

.editprof-left li span{float:right; font-size:20px; color:#ccc}

.editprof-left li:hover{background-color:#F8F8F8}

.prof-img{ border:1px solid #ccc; border-radius:3px; width:auto;   padding:10px; margin-bottom:10px;  }

.prof-img img{width:100%; padding-bottom:10px}

.devider{height:1px; background-color:#ccc; margin:10px 0px 10px 0px }

.devide-h{height:30px; border-right:1px solid #ccc; }

.reporting-head{font-size:12px}

.editprof-right{padding :15px}


.col-rightside{padding-top:15px}
 
 .upd-mobno{padding-top:15px}
 
 .reporting-box{margin:25px; padding:15px; background-color:#f9f0a3; border-radius:10px; border:1px solid #b79c54}
 
 .reporting-box li{display:block; text-align:center; padding:10px 0px 0px 0px}
 
  .reporting-box li a{text-decoration:none; font-weight:bold; color:#993300}
  .reporting-box li a:hover:active{text-decoration:none; font-weight:bold; color:#993300}
  .reporting-box li a:hover{text-decoration:none; font-weight:bold; color:#000}
  
  .complaint-pannel{padding:10px; border:1px solid #ccc; float:left; padding-bottom:20px  }

 
.search-devide{ background-image:url(../images/search-devide.jpg); background-repeat:repeat-y; height:100px; }
 
.search-devide span{margin-top:25px; float:left; border-radius:50%; background-color:#FFFFFF;
 margin-left:-13px; border:1px solid #ccc; padding:10px; color:#ccc}
 
 
 
 .noti-link a {color:#FF0000; border:0px}
 .noti-link a:visited:active {color:#FF0000}
 .noti-link a:hover {color:#000}
 