 

.carousel-control span{ font-size:30px ; color:#FFFFFF; background-color:#000; padding:3px 10px 3px 10px; opacity:0.9}

.carousel-indicators li{border-radius:0px; border:2px solid #f5ea94; background-color:#a33a00; padding:5px}

.carousel-indicators .active{background-color:#f5ea94}

.carousel-control-1 span{ font-size:20px; margin-top:50%}