@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,800);
body{font-family:Open Sans; font-size:14px; }
	
::-webkit-scrollbar {  
    width: 10px;  
}  
::-webkit-scrollbar-track {  
    background-color: #eaeaea;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #ccc;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #129c59;  
}  



.grey{background-color:#999999}

.red{background-color:#CC0000}

.blu{background-color:#0099CC}

.green{background-color:#009933}

.flotleft{float:left}

.nomargin{margin:0px;}

.main-nav{height:45px; background-image: url(../images/main-navbg.jpg); background-repeat:repeat-x; background-position:bottom; background-color:#FFFFFF; font-family:Open Sans; font-size:13px}
 
 .gov-kerala{margin-left:55px; padding-top:12px;font-size:15px; font-weight:600}
 
  .main-nav-right{ margin-right:183px; height:45px; text-align:right}
  
  .main-nav-right li{ border-right:1px solid #ccc; display:block; padding:12px; float:left}
  
  .main-nav-right li span{ padding:0px ; margin:0px; margin-right:5px}
  
  .main-nav-right li a{color:#666; text-decoration:none}
  .main-nav-right li a:visited{color:#666; text-decoration:none}
  .main-nav-right li a:hover{color:#666; border-bottom:1px dotted #000}
  .main-nav-right li a:active{color:#666; text-decoration:none}
  
   
  
  .logoband{height:170px; background-image:url(../images/main-headerbg.jpg); background-repeat:repeat-x; background-position:top; background-color:#f3e785}
  .logo{margin-left:55px; padding-top:30px}
  
  .home-quote{font-family:Open Sans; font-size:22px; font-weight:100; color:#160800; 
  text-align:right; margin-right:25px; padding-top:25px}
  
  .home-quote span{font-size:15px; font-weight:bold; line-height:50px}



.subinav{   background-image:url(../images/subnav-bg.jpg); background-repeat:repeat-x;

 background-position:top}

.subnav-in{height:40px; padding-top:10px; text-align:center;font-family:Open Sans; font-size:14px; line-height:0px; }

.subnav-in li{float:none; display: inline-block; height:10px; border-right:1px solid #a8450a; padding:10px 0px 10px 0px; 
margin-right:3px; margin-left:0px }

.subnav-in li:last-child{border:none}

.subnav-in li a{font-size:14px; color:#a8450a; line-height:0px; text-decoration:none;  padding:1px 10px 1px 10px; margin:0px; margin-right:8px}

.subnav-in li a:visited{font-size:14px; color:#a8450a; line-height:0px; text-decoration:none; padding:1px 10px 1px 10px;}

.subnav-in li a:hover{font-size:14px; color:#a8450a; line-height:0px; text-decoration:none; background-color:#fff; padding:1px 10px 1px 10px;}

.subnav-in li a:active{font-size:14px; color:#a8450a; line-height:0px; text-decoration:none; padding:1px 10px 1px 10px;}



.main-content{ border-top:5px solid #999999; margin-bottom:25px;font-family:Open Sans; font-size:14px;}

.home-colm-1{background-color:#ebebec; }

.home-colm-1 h1{font-size:18px; font-weight:bold; padding:10px; background-color:#000; border-bottom:1px dotted #666; margin:0px;color:#00CC33}

.home-colm-1 li{padding:10px; border-bottom:1px solid #cccccf; display:block;  }

.home-colm-1 li span{margin-right:10px; font-weight:bold; color:#00CC33}

.home-colm-1 li:hover{background-color:#F5F5F5}

.home-colm-1 li a{color:#666; text-decoration:none}



.home-colm-2-a{background-color:#CCCCCC; margin-top:20px; padding:15px }

.home-colm-2-a img{display:block; width:auto; float:left; margin:15px; margin-bottom:10px}
.home-colm-2-b{background-color:#FF9900; margin-top:20px;font-family:Open Sans; font-size:17px; font-weight:100; color:#000 }

.scroll-arrows{z-index:5000; margin-right:5px; margin-top:-10px;  }

.scroll-arrows span{color:#FF6600; text-decoration:none }

 

.home-colm-2-b h1{font-size:18px; font-weight:bold; padding:10px; background-color:#000;
 border-bottom:1px dotted #666; margin:0px;color:#FF6600; margin-bottom:15px;}

.home-colm-3{background-color:#999900}

.home-colm-4{background-color:#CCCCCC; height:150px}


 

.grey-hedbg{background-color:#000; margin-bottom:15px}

.footter{ background-color:#2b2b2b; padding-bottom:20px}

.footter-in {margin-top:15px}

.footter-in li{float:left; width:100%; display:block ;   padding:8px}

.footter-in li a{font-family:Open Sans; font-size:14px; font-weight:100; color:#c0c0c0; text-decoration:none; }

.footter-in li a:hover{border-bottom:1px dotted #ccc}

.develop{color:#666666; margin-top:140px}


.rules-out{background-color:#F5F5F5; border-top:1px dotted #666;font-family:Open Sans; font-size:14px; padding:0px;}
.rules{background-color:#CCCCCC; margin-top:20px;margin-bottom:20px; padding-bottom:15px  }

.rules h1{font-size:18px; font-weight:bold; padding:10px; border-bottom:1px dotted #666;
 margin:0px;color:#FF0000; margin-bottom:5px; background-color:#000000}

.rules img{display:block; width:auto; float:left; margin:15px; margin-bottom:10px}

.rules-right{background-color:#CCCCCC; margin-top:20px;margin-bottom:20px; padding:15px; border-left:5px solid #F5F5F5}

.rules-logos{padding:5px; border:10px solid #ccc; background-color:#FFFFFF; margin-top:15px}


.mobmenu{display:none; padding:15px; position:absolute;   margin-left:-15px; }

.mobmenu button{padding:5px 10px 5px 10px; background-image:url(../images/subnav-bg.jpg); border:5px solid #F2AE31}

.mobmenu button span{ font-size:20px}

.drpdwn-in{width:100%; border-radius:0px}


 .slidearro{z-index:50000; margin-top:-1px; position:absolute;  }
 
  .slidearro span{margin-top:3px}
  
  
.loginimg { padding:0px; margin:0px; width:auto    }
.loginimg img{ margin:0px; padding:2px;  float: none; width:23px ; margin-top:-6px; border:2px solid #ccc   }

.loginimg span{float:left}

.loginimg-li{ border-right:0px} 
.loginimg-li span{  float:left; } 

 
 
.navbar-login
{
    width: 200px;
    padding: 10px;
    padding-bottom: 0px; 
}
 

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;  
}

.icon-size
{
    font-size: 87px;
}

 
.dropdown{  padding:0px}
.dropdown span{padding:0px; margin:0px}

 .dropdown ul{margin-top:-3px; border-radius:0px 0px  10px 10px; border:1px solid #666; border-top:0px; background-color:#f5f0f6}
 
 .dropdown ul li{border:none} 
 .dropdown li  ul{border:none}
 
 .noti-link{  height:45px}
 
.noti-link span:hover{color:#CC3333; border:none}
 
 
 
 


/*responcive*/



 @media screen and (max-width:1280px)
 
 {
 
.logo{   width:33%;  }
.home-quote{width:100%;  width:50%; }
.logoband{height:auto; width:100%; float:left  }
.main-nav-right{margin:0px}
 
 .mobmenu{display:block}

.subnav-in{
	/* [disabled]display:none; */
}

.rules-right{float:left}
 
.rules-right-logos{ width:auto;  margin:10px 0px 10px 0px ; padding:0px; float:left }

.rules-logos{float:left; width:32%}

 
 
 
  .footter-in{width: auto; float:left; }
  
  .home-colm-2-a img{ width:15%; float:left; margin-top:0px; }
}


 @media screen and (max-width:1024px)
 
 {
 
.logo{ width:100%; margin:0px  }
.logo img{ margin:0 auto }

.home-quote{width:auto; text-align:center; margin:0px  }

.main-nav{height:auto;  float:left; width:100%;     }

 
.subinav{float:left; width:100%; background-color:#f8f0a2; background-image:none}

.subnav-in{height:auto; padding-bottom:10px }

.subnav-in li{margin-bottom:8px; }

.rules-logos{border:5px}

 .rules-right-logos{ width:30%; padding:0px; float:left }
 
 .rules-logos{width:30%; margin-right:10px}
 

 .slidearro{width:95%; margin:0 auto}
 
 
 .develop{width:100%; text-align:center; float:none; margin-top:0px; border-top:1px  dotted #666; margin-top:10px; padding-top:10px}
 



 
 
 
}


 @media screen and (max-width:850px)
 
 {
 .footter-in{width:50%; float:left;  }

 }
 
  @media screen and (max-width:600px)
 
 {
 .home-quote{ font-size:15px  }
 .main-nav-right{  width:100%; text-align:center; border-top:1px solid #ccc }
 
 .main-nav-right li{float:none; display:inline-block}
 
  .main-nav-right li:last-child{border:none}
  
  .gov-kerala{width:100%; text-align:center; margin:0px; padding-bottom:10px   }
  
  .slidearro{width:90%; margin:0 auto}
.footter-in{width:50%; float:left;  }
 
 

 }
 
  @media screen and (max-width:420px)
 
 {
 
 .main-nav-right li{ padding:5px; font-size:11px; padding-top:10px}
 
 .subnav-in li{border:none; display: block}
 
 .home-colm-2-a img{margin:0px; padding:10px}
 
  .home-colm-2-a{text-align:justify}
  
  .carousel-inner{text-align:justify}
  
  .rules{text-align:justify}
  
    .rules-logos{width:100%; margin-right:10px; float:left; font-size:13px}
	.rules-right-logos{width:30%; float:left}
	
	   .home-colm-2-a img{width:100%}
 }


  @media screen and (max-width:320px)
 
 {
 
   .slidearro{width:85%; margin:0 auto}


   }




 
