#menu{
    border:1px solid red;
    height:30px;

}
#menu ul {
list-style:none;
   margin:0;
   padding:0;
   position:relative;

   text-align:center;


}
#menu ul li {
    display:block;
   float:left;
   list-style:none;
   margin:0 2px 0 0;
   padding:0;
   position:relative;

}
#menu li ul {
    position:absolute;
    display:none;
    border:1px solid green;

}
#menu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#menu ul li a:hover {
   background:#369;
   color:#fff;
}

#menu ul li a.active,
#menu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

#menu ul li:hover ul {
    display: block;
 }
#menu ul li ul li {
    margin:0 1px 0 0;
     display:block;
    float:none;
}
#menu ul li ul li a{
    display:block;

}