@charset "utf-8";
/* CSS Document */

 

.carousel-indicators li{ background: #fff;  } 

.carousel-indicators .active{ background: #fff; border:2px solid #000 } 

.content{ margin-top: ; } 

.adjust1{ float:left; width:100%; margin-bottom:0; }

 .adjust2{ margin:0; }
 
  .carousel-indicators li{ border :2px solid #000; } 
 
 .carousel-control{ color:#fff; width:5%; font-size:50px  } 
 
 .carousel-control:hover, .carousel-control:focus{ color:#000; font-size:50px } 
 
 .carousel-control.left, .carousel-control.right { background-image: none; }
 
  .media-object{ margin:auto;  } 
  
  
  @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }